OPTIMIZATION OF THE MODEL

## Preprocessing

In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
import pandas as pd
import tensorflow as tf
from pathlib import Path
from google.colab import drive

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Drop the non-beneficial EIN column
app_df_clean = application_df.drop(columns=['EIN', 'NAME'])
app_df_clean.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Determine the number of unique values in each column.
unique_val = app_df_clean.nunique()
unique_val

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [14]:
# drop the STATUS column
app_df_clean['STATUS'].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [16]:
 # Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
replaced_app = list(value_counts[value_counts < 700].index)
replaced_app

# Replace in dataframe
for app in replaced_app:
    app_df_clean['APPLICATION_TYPE'] = app_df_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df_clean['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = app_df_clean['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df_clean['CLASSIFICATION'] = app_df_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
app_df_clean['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(app_df_clean)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [37]:
 # Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [40]:
X_train_scaled.shape

(25724, 42)

In [53]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_4 (Dense)                       (None, 100)                            4,300

 dense_5 (Dense)                       (None, 30)                             3,030

 dense_6 (Dense)                       (None, 10)                               310

 dense_7 (Dense)                       (None, 1)                                 11

 Total params: 7,651 (29.89 KB)

 Trainable params: 7,651 (29.89 KB)

 Non-trainable params: 0 (0.00 B)

In [54]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [68]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=1.5, epochs=200)

Epoch 1/200
402/402  1s 3ms/step - accuracy: 0.7410 - loss: 0.5248 - val_accuracy: 0.7323 - val_loss: 0.5707
Epoch 2/200
402/402  1s 3ms/step - accuracy: 0.7388 - loss: 0.5306 - val_accuracy: 0.7321 - val_loss: 0.5706
Epoch 3/200
402/402  1s 3ms/step - accuracy: 0.7424 - loss: 0.5241 - val_accuracy: 0.7286 - val_loss: 0.5698
Epoch 4/200
402/402  1s 3ms/step - accuracy: 0.7394 - loss: 0.5278 - val_accuracy: 0.7318 - val_loss: 0.5700
Epoch 5/200
402/402  1s 3ms/step - accuracy: 0.7316 - loss: 0.5364 - val_accuracy: 0.7322 - val_loss: 0.5695
Epoch 6/200
402/402  2s 3ms/step - accuracy: 0.7377 - loss: 0.5296 - val_accuracy: 0.7319 - val_loss: 0.5688
Epoch 7/200
402/402  1s 3ms/step - accuracy: 0.7318 - loss: 0.5335 - val_accuracy: 0.7321 - val_loss: 0.5689
Epoch 8/200
402/402  1s 3ms/step - accuracy: 0.7372 - loss: 0.5322 - val_accuracy: 0.7320 - val_loss: 0.5690
Epoch 9/200
402/402  1s 3ms/step - accuracy: 0.7416 - loss: 0.5281 - val_accuracy: 0.7332 - val_loss: 0.5688
Epoch 10/200
402/402  1s 3ms/step - accuracy: 0.7411 - loss: 0.5274 - val_accuracy: 0.7332 - val_loss: 0.5695
Epoch 11/200
402/402  1s 3ms/step - accuracy: 0.7389 - loss: 0.5295 - val_accuracy: 0.7318 - val_loss: 0.5697
Epoch 12/200
402/402  1s 3ms/step - accuracy: 0.7515 - loss: 0.5173 - val_accuracy: 0.7318 - val_loss: 0.5706
Epoch 13/200
402/402  1s 3ms/step - accuracy: 0.7421 - loss: 0.5268 - val_accuracy: 0.7312 - val_loss: 0.5703
Epoch 14/200
402/402  2s 4ms/step - accuracy: 0.7477 - loss: 0.5223 - val_accuracy: 0.7322 - val_loss: 0.5711
Epoch 15/200
402/402  2s 3ms/step - accuracy: 0.7455 - loss: 0.5241 - val_accuracy: 0.7321 - val_loss: 0.5703
Epoch 16/200
402/402  1s 3ms/step - accuracy: 0.7432 - loss: 0.5271 - val_accuracy: 0.7282 - val_loss: 0.5703
Epoch 17/200
402/402  1s 3ms/step - accuracy: 0.7431 - loss: 0.5264 - val_accuracy: 0.7317 - val_loss: 0.5710
Epoch 18/200
402/402  1s 3ms/step - accuracy: 0.7344 - loss: 0.5311 - val_accuracy: 0.7318 - val_loss: 0.5696
Epoch 19/200
402/402  1s 3ms/step - accuracy: 0.7473 - loss: 0.5205 - val_accuracy: 0.7315 - val_loss: 0.5705
Epoch 20/200
402/402  1s 3ms/step - accuracy: 0.7384 - loss: 0.5292 - val_accuracy: 0.7317 - val_loss: 0.5714
Epoch 21/200
402/402  1s 3ms/step - accuracy: 0.7389 - loss: 0.5300 - val_accuracy: 0.7319 - val_loss: 0.5707
Epoch 22/200
402/402  1s 3ms/step - accuracy: 0.7419 - loss: 0.5256 - val_accuracy: 0.7318 - val_loss: 0.5722
Epoch 23/200
402/402  2s 4ms/step - accuracy: 0.7427 - loss: 0.5299 - val_accuracy: 0.7314 - val_loss: 0.5721
Epoch 24/200
402/402  2s 6ms/step - accuracy: 0.7397 - loss: 0.5310 - val_accuracy: 0.7316 - val_loss: 0.5725
Epoch 25/200
402/402  2s 3ms/step - accuracy: 0.7417 - loss: 0.5269 - val_accuracy: 0.7317 - val_loss: 0.5724
Epoch 26/200
402/402  2s 3ms/step - accuracy: 0.7408 - loss: 0.5269 - val_accuracy: 0.7318 - val_loss: 0.5730
Epoch 27/200
402/402  1s 3ms/step - accuracy: 0.7442 - loss: 0.5271 - val_accuracy: 0.7314 - val_loss: 0.5723
Epoch 28/200
402/402  1s 3ms/step - accuracy: 0.7349 - loss: 0.5356 - val_accuracy: 0.7319 - val_loss: 0.5726
Epoch 29/200
402/402  1s 3ms/step - accuracy: 0.7441 - loss: 0.5244 - val_accuracy: 0.7334 - val_loss: 0.5727
Epoch 30/200
402/402  2s 4ms/step - accuracy: 0.7469 - loss: 0.5198 - val_accuracy: 0.7319 - val_loss: 0.5718
Epoch 31/200
402/402  2s 6ms/step - accuracy: 0.7471 - loss: 0.5222 - val_accuracy: 0.7316 - val_loss: 0.5730
Epoch 32/200
402/402  2s 4ms/step - accuracy: 0.7417 - loss: 0.5236 - val_accuracy: 0.7318 - val_loss: 0.5732
Epoch 33/200
402/402  2s 3ms/step - accuracy: 0.7436 - loss: 0.5217 - val_accuracy: 0.7315 - val_loss: 0.5727
Epoch 34/200
402/402  1s 3ms/step - accuracy: 0.7429 - loss: 0.5247 - val_accuracy: 0.7322 - val_loss: 0.5720
Epoch 35/200
402/402  1s 3ms/step - accuracy: 0.7383 - loss: 0.5277 - val_accuracy: 0.7320 - val_loss: 0.5727
Epoch 36/200
402/402  1s 3ms/step - accuracy: 0.7355 - loss: 0.5290 - val_accuracy: 0.7321 - val_loss: 0.5732
Epoch 37/200
402/402  1s 3ms/step - accuracy: 0.7486 - loss: 0.5251 - val_accuracy: 0.7318 - val_loss: 0.5732
Epoch 38/200
402/402  1s 3ms/step - accuracy: 0.7361 - loss: 0.5319 - val_accuracy: 0.7322 - val_loss: 0.5738
Epoch 39/200
402/402  2s 3ms/step - accuracy: 0.7383 - loss: 0.5279 - val_accuracy: 0.7319 - val_loss: 0.5739
Epoch 40/200
402/402  3s 3ms/step - accuracy: 0.7461 - loss: 0.5241 - val_accuracy: 0.7315 - val_loss: 0.5742
Epoch 41/200
402/402  2s 3ms/step - accuracy: 0.7374 - loss: 0.5288 - val_accuracy: 0.7329 - val_loss: 0.5741
Epoch 42/200
402/402  2s 3ms/step - accuracy: 0.7365 - loss: 0.5284 - val_accuracy: 0.7318 - val_loss: 0.5738
Epoch 43/200
402/402  1s 3ms/step - accuracy: 0.7408 - loss: 0.5281 - val_accuracy: 0.7311 - val_loss: 0.5735
Epoch 44/200
402/402  1s 3ms/step - accuracy: 0.7343 - loss: 0.5367 - val_accuracy: 0.7323 - val_loss: 0.5742
Epoch 45/200
402/402  1s 3ms/step - accuracy: 0.7417 - loss: 0.5254 - val_accuracy: 0.7336 - val_loss: 0.5733
Epoch 46/200
402/402  4s 6ms/step - accuracy: 0.7357 - loss: 0.5303 - val_accuracy: 0.7322 - val_loss: 0.5744
Epoch 47/200
402/402  1s 3ms/step - accuracy: 0.7357 - loss: 0.5312 - val_accuracy: 0.7319 - val_loss: 0.5737
Epoch 48/200
402/402  1s 3ms/step - accuracy: 0.7289 - loss: 0.5403 - val_accuracy: 0.7318 - val_loss: 0.5744
Epoch 49/200
402/402  1s 3ms/step - accuracy: 0.7312 - loss: 0.5383 - val_accuracy: 0.7322 - val_loss: 0.5734
Epoch 50/200
402/402  1s 3ms/step - accuracy: 0.7349 - loss: 0.5290 - val_accuracy: 0.7315 - val_loss: 0.5738
Epoch 51/200
402/402  3s 3ms/step - accuracy: 0.7385 - loss: 0.5291 - val_accuracy: 0.7319 - val_loss: 0.5738
Epoch 52/200
402/402  3s 3ms/step - accuracy: 0.7432 - loss: 0.5290 - val_accuracy: 0.7315 - val_loss: 0.5749
Epoch 53/200
402/402  3s 3ms/step - accuracy: 0.7397 - loss: 0.5273 - val_accuracy: 0.7311 - val_loss: 0.5745
Epoch 54/200
402/402  1s 3ms/step - accuracy: 0.7513 - loss: 0.5132 - val_accuracy: 0.7319 - val_loss: 0.5738
Epoch 55/200
402/402  1s 3ms/step - accuracy: 0.7366 - loss: 0.5310 - val_accuracy: 0.7315 - val_loss: 0.5750
Epoch 56/200
402/402  1s 3ms/step - accuracy: 0.7466 - loss: 0.5234 - val_accuracy: 0.7319 - val_loss: 0.5749
Epoch 57/200
402/402  1s 3ms/step - accuracy: 0.7450 - loss: 0.5235 - val_accuracy: 0.7318 - val_loss: 0.5758
Epoch 58/200
402/402  1s 3ms/step - accuracy: 0.7404 - loss: 0.5296 - val_accuracy: 0.7311 - val_loss: 0.5760
Epoch 59/200
402/402  1s 3ms/step - accuracy: 0.7439 - loss: 0.5279 - val_accuracy: 0.7312 - val_loss: 0.5756
Epoch 60/200
402/402  1s 3ms/step - accuracy: 0.7427 - loss: 0.5266 - val_accuracy: 0.7319 - val_loss: 0.5760
Epoch 61/200
402/402  1s 4ms/step - accuracy: 0.7322 - loss: 0.5384 - val_accuracy: 0.7314 - val_loss: 0.5753
Epoch 62/200
402/402  2s 3ms/step - accuracy: 0.7408 - loss: 0.5285 - val_accuracy: 0.7332 - val_loss: 0.5753
Epoch 63/200
402/402  1s 3ms/step - accuracy: 0.7467 - loss: 0.5260 - val_accuracy: 0.7284 - val_loss: 0.5760
Epoch 64/200
402/402  2s 3ms/step - accuracy: 0.7420 - loss: 0.5308 - val_accuracy: 0.7320 - val_loss: 0.5756
Epoch 65/200
402/402  1s 3ms/step - accuracy: 0.7463 - loss: 0.5205 - val_accuracy: 0.7316 - val_loss: 0.5742
Epoch 66/200
402/402  1s 3ms/step - accuracy: 0.7371 - loss: 0.5303 - val_accuracy: 0.7316 - val_loss: 0.5758
Epoch 67/200
402/402  1s 3ms/step - accuracy: 0.7489 - loss: 0.5206 - val_accuracy: 0.7320 - val_loss: 0.5756
Epoch 68/200
402/402  1s 3ms/step - accuracy: 0.7395 - loss: 0.5247 - val_accuracy: 0.7317 - val_loss: 0.5747
Epoch 69/200
402/402  3s 4ms/step - accuracy: 0.7405 - loss: 0.5302 - val_accuracy: 0.7316 - val_loss: 0.5761
Epoch 70/200
402/402  1s 3ms/step - accuracy: 0.7479 - loss: 0.5186 - val_accuracy: 0.7314 - val_loss: 0.5754
Epoch 71/200
402/402  1s 3ms/step - accuracy: 0.7376 - loss: 0.5338 - val_accuracy: 0.7331 - val_loss: 0.5764
Epoch 72/200
402/402  1s 3ms/step - accuracy: 0.7373 - loss: 0.5288 - val_accuracy: 0.7318 - val_loss: 0.5750
Epoch 73/200
402/402  1s 3ms/step - accuracy: 0.7357 - loss: 0.5321 - val_accuracy: 0.7317 - val_loss: 0.5760
Epoch 74/200
402/402  1s 3ms/step - accuracy: 0.7384 - loss: 0.5318 - val_accuracy: 0.7284 - val_loss: 0.5766
Epoch 75/200
402/402  2s 3ms/step - accuracy: 0.7400 - loss: 0.5281 - val_accuracy: 0.7320 - val_loss: 0.5760
Epoch 76/200
402/402  1s 3ms/step - accuracy: 0.7412 - loss: 0.5308 - val_accuracy: 0.7316 - val_loss: 0.5770
Epoch 77/200
402/402  1s 3ms/step - accuracy: 0.7384 - loss: 0.5309 - val_accuracy: 0.7318 - val_loss: 0.5759
Epoch 78/200
402/402  3s 3ms/step - accuracy: 0.7380 - loss: 0.5292 - val_accuracy: 0.7318 - val_loss: 0.5757
Epoch 79/200
402/402  2s 3ms/step - accuracy: 0.7499 - loss: 0.5171 - val_accuracy: 0.7318 - val_loss: 0.5762
Epoch 80/200
402/402  2s 3ms/step - accuracy: 0.7392 - loss: 0.5275 - val_accuracy: 0.7284 - val_loss: 0.5769
Epoch 81/200
402/402  3s 3ms/step - accuracy: 0.7447 - loss: 0.5270 - val_accuracy: 0.7321 - val_loss: 0.5768
Epoch 82/200
402/402  1s 3ms/step - accuracy: 0.7420 - loss: 0.5223 - val_accuracy: 0.7315 - val_loss: 0.5750
Epoch 83/200
402/402  1s 3ms/step - accuracy: 0.7431 - loss: 0.5247 - val_accuracy: 0.7313 - val_loss: 0.5761
Epoch 84/200
402/402  3s 4ms/step - accuracy: 0.7370 - loss: 0.5299 - val_accuracy: 0.7323 - val_loss: 0.5780
Epoch 85/200
402/402  2s 3ms/step - accuracy: 0.7388 - loss: 0.5250 - val_accuracy: 0.7299 - val_loss: 0.5762
Epoch 86/200
402/402  2s 3ms/step - accuracy: 0.7361 - loss: 0.5345 - val_accuracy: 0.7324 - val_loss: 0.5767
Epoch 87/200
402/402  1s 3ms/step - accuracy: 0.7410 - loss: 0.5267 - val_accuracy: 0.7301 - val_loss: 0.5765
Epoch 88/200
402/402  1s 3ms/step - accuracy: 0.7382 - loss: 0.5253 - val_accuracy: 0.7327 - val_loss: 0.5763
Epoch 89/200
402/402  1s 3ms/step - accuracy: 0.7449 - loss: 0.5221 - val_accuracy: 0.7317 - val_loss: 0.5761
Epoch 90/200
402/402  1s 3ms/step - accuracy: 0.7441 - loss: 0.5230 - val_accuracy: 0.7324 - val_loss: 0.5763
Epoch 91/200
402/402  1s 3ms/step - accuracy: 0.7349 - loss: 0.5336 - val_accuracy: 0.7280 - val_loss: 0.5778
Epoch 92/200
402/402  2s 4ms/step - accuracy: 0.7390 - loss: 0.5249 - val_accuracy: 0.7319 - val_loss: 0.5777
Epoch 93/200
402/402  2s 4ms/step - accuracy: 0.7449 - loss: 0.5201 - val_accuracy: 0.7326 - val_loss: 0.5766
Epoch 94/200
402/402  2s 3ms/step - accuracy: 0.7352 - loss: 0.5305 - val_accuracy: 0.7320 - val_loss: 0.5787
Epoch 95/200
402/402  2s 3ms/step - accuracy: 0.7373 - loss: 0.5296 - val_accuracy: 0.7322 - val_loss: 0.5780
Epoch 96/200
402/402  1s 3ms/step - accuracy: 0.7380 - loss: 0.5300 - val_accuracy: 0.7319 - val_loss: 0.5770
Epoch 97/200
402/402  2s 3ms/step - accuracy: 0.7493 - loss: 0.5177 - val_accuracy: 0.7322 - val_loss: 0.5779
Epoch 98/200
402/402  1s 3ms/step - accuracy: 0.7429 - loss: 0.5268 - val_accuracy: 0.7322 - val_loss: 0.5775
Epoch 99/200
402/402  3s 4ms/step - accuracy: 0.7330 - loss: 0.5351 - val_accuracy: 0.7329 - val_loss: 0.5775
Epoch 100/200
402/402  2s 6ms/step - accuracy: 0.7386 - loss: 0.5296 - val_accuracy: 0.7322 - val_loss: 0.5770
Epoch 101/200
402/402  1s 3ms/step - accuracy: 0.7410 - loss: 0.5288 - val_accuracy: 0.7327 - val_loss: 0.5775
Epoch 102/200
402/402  1s 3ms/step - accuracy: 0.7365 - loss: 0.5313 - val_accuracy: 0.7334 - val_loss: 0.5766
Epoch 103/200
402/402  1s 3ms/step - accuracy: 0.7441 - loss: 0.5253 - val_accuracy: 0.7317 - val_loss: 0.5779
Epoch 104/200
402/402  1s 3ms/step - accuracy: 0.7351 - loss: 0.5339 - val_accuracy: 0.7315 - val_loss: 0.5784
Epoch 105/200
402/402  1s 3ms/step - accuracy: 0.7381 - loss: 0.5285 - val_accuracy: 0.7317 - val_loss: 0.5785
Epoch 106/200
402/402  1s 3ms/step - accuracy: 0.7485 - loss: 0.5176 - val_accuracy: 0.7333 - val_loss: 0.5780
Epoch 107/200
402/402  3s 3ms/step - accuracy: 0.7381 - loss: 0.5272 - val_accuracy: 0.7314 - val_loss: 0.5796
Epoch 108/200
402/402  3s 3ms/step - accuracy: 0.7380 - loss: 0.5289 - val_accuracy: 0.7294 - val_loss: 0.5798
Epoch 109/200
402/402  1s 3ms/step - accuracy: 0.7466 - loss: 0.5235 - val_accuracy: 0.7324 - val_loss: 0.5790
Epoch 110/200
402/402  1s 3ms/step - accuracy: 0.7385 - loss: 0.5312 - val_accuracy: 0.7322 - val_loss: 0.5814
Epoch 111/200
402/402  1s 3ms/step - accuracy: 0.7433 - loss: 0.5264 - val_accuracy: 0.7283 - val_loss: 0.5776
Epoch 112/200
402/402  1s 3ms/step - accuracy: 0.7425 - loss: 0.5267 - val_accuracy: 0.7318 - val_loss: 0.5780
Epoch 113/200
402/402  2s 3ms/step - accuracy: 0.7473 - loss: 0.5224 - val_accuracy: 0.7273 - val_loss: 0.5803
Epoch 114/200
402/402  1s 3ms/step - accuracy: 0.7416 - loss: 0.5278 - val_accuracy: 0.7317 - val_loss: 0.5794
Epoch 115/200
402/402  1s 3ms/step - accuracy: 0.7451 - loss: 0.5229 - val_accuracy: 0.7316 - val_loss: 0.5785
Epoch 116/200
402/402  2s 4ms/step - accuracy: 0.7472 - loss: 0.5212 - val_accuracy: 0.7314 - val_loss: 0.5796
Epoch 117/200
402/402  2s 3ms/step - accuracy: 0.7314 - loss: 0.5337 - val_accuracy: 0.7319 - val_loss: 0.5805
Epoch 118/200
402/402  1s 3ms/step - accuracy: 0.7387 - loss: 0.5284 - val_accuracy: 0.7318 - val_loss: 0.5801
Epoch 119/200
402/402  1s 3ms/step - accuracy: 0.7422 - loss: 0.5266 - val_accuracy: 0.7319 - val_loss: 0.5793
Epoch 120/200
402/402  1s 3ms/step - accuracy: 0.7351 - loss: 0.5315 - val_accuracy: 0.7329 - val_loss: 0.5794
Epoch 121/200
402/402  2s 2ms/step - accuracy: 0.7405 - loss: 0.5291 - val_accuracy: 0.7317 - val_loss: 0.5778
Epoch 122/200
402/402  1s 3ms/step - accuracy: 0.7432 - loss: 0.5220 - val_accuracy: 0.7321 - val_loss: 0.5791
Epoch 123/200
402/402  1s 3ms/step - accuracy: 0.7388 - loss: 0.5263 - val_accuracy: 0.7325 - val_loss: 0.5802
Epoch 124/200
402/402  3s 3ms/step - accuracy: 0.7381 - loss: 0.5279 - val_accuracy: 0.7337 - val_loss: 0.5780
Epoch 125/200
402/402  2s 3ms/step - accuracy: 0.7425 - loss: 0.5236 - val_accuracy: 0.7325 - val_loss: 0.5795
Epoch 126/200
402/402  1s 3ms/step - accuracy: 0.7452 - loss: 0.5257 - val_accuracy: 0.7321 - val_loss: 0.5804
Epoch 127/200
402/402  1s 3ms/step - accuracy: 0.7385 - loss: 0.5311 - val_accuracy: 0.7294 - val_loss: 0.5801
Epoch 128/200
402/402  1s 3ms/step - accuracy: 0.7401 - loss: 0.5303 - val_accuracy: 0.7318 - val_loss: 0.5795
Epoch 129/200
402/402  1s 3ms/step - accuracy: 0.7417 - loss: 0.5292 - val_accuracy: 0.7322 - val_loss: 0.5810
Epoch 130/200
402/402  1s 3ms/step - accuracy: 0.7421 - loss: 0.5259 - val_accuracy: 0.7314 - val_loss: 0.5804
Epoch 131/200
402/402  1s 3ms/step - accuracy: 0.7453 - loss: 0.5243 - val_accuracy: 0.7322 - val_loss: 0.5801
Epoch 132/200
402/402  2s 3ms/step - accuracy: 0.7343 - loss: 0.5345 - val_accuracy: 0.7322 - val_loss: 0.5801
Epoch 133/200
402/402  3s 3ms/step - accuracy: 0.7402 - loss: 0.5305 - val_accuracy: 0.7332 - val_loss: 0.5812
Epoch 134/200
402/402  1s 3ms/step - accuracy: 0.7422 - loss: 0.5252 - val_accuracy: 0.7334 - val_loss: 0.5801
Epoch 135/200
402/402  2s 3ms/step - accuracy: 0.7398 - loss: 0.5289 - val_accuracy: 0.7318 - val_loss: 0.5817
Epoch 136/200
402/402  1s 3ms/step - accuracy: 0.7389 - loss: 0.5305 - val_accuracy: 0.7335 - val_loss: 0.5813
Epoch 137/200
402/402  1s 3ms/step - accuracy: 0.7353 - loss: 0.5303 - val_accuracy: 0.7332 - val_loss: 0.5811
Epoch 138/200
402/402  3s 4ms/step - accuracy: 0.7336 - loss: 0.5320 - val_accuracy: 0.7339 - val_loss: 0.5811
Epoch 139/200
402/402  2s 3ms/step - accuracy: 0.7433 - loss: 0.5252 - val_accuracy: 0.7333 - val_loss: 0.5812
Epoch 140/200
402/402  1s 3ms/step - accuracy: 0.7387 - loss: 0.5230 - val_accuracy: 0.7315 - val_loss: 0.5815
Epoch 141/200
402/402  1s 3ms/step - accuracy: 0.7364 - loss: 0.5339 - val_accuracy: 0.7329 - val_loss: 0.5825
Epoch 142/200
402/402  1s 3ms/step - accuracy: 0.7481 - loss: 0.5237 - val_accuracy: 0.7326 - val_loss: 0.5810
Epoch 143/200
402/402  1s 3ms/step - accuracy: 0.7471 - loss: 0.5246 - val_accuracy: 0.7283 - val_loss: 0.5798
Epoch 144/200
402/402  1s 3ms/step - accuracy: 0.7468 - loss: 0.5194 - val_accuracy: 0.7314 - val_loss: 0.5801
Epoch 145/200
402/402  1s 3ms/step - accuracy: 0.7488 - loss: 0.5205 - val_accuracy: 0.7325 - val_loss: 0.5805
Epoch 146/200
402/402  2s 3ms/step - accuracy: 0.7414 - loss: 0.5285 - val_accuracy: 0.7323 - val_loss: 0.5810
Epoch 147/200
402/402  1s 3ms/step - accuracy: 0.7371 - loss: 0.5267 - val_accuracy: 0.7285 - val_loss: 0.5806
Epoch 148/200
402/402  1s 3ms/step - accuracy: 0.7411 - loss: 0.5261 - val_accuracy: 0.7329 - val_loss: 0.5804
Epoch 149/200
402/402  1s 3ms/step - accuracy: 0.7442 - loss: 0.5182 - val_accuracy: 0.7289 - val_loss: 0.5804
Epoch 150/200
402/402  1s 3ms/step - accuracy: 0.7402 - loss: 0.5224 - val_accuracy: 0.7328 - val_loss: 0.5807
Epoch 151/200
402/402  3s 3ms/step - accuracy: 0.7456 - loss: 0.5257 - val_accuracy: 0.7283 - val_loss: 0.5810
Epoch 152/200
402/402  3s 5ms/step - accuracy: 0.7479 - loss: 0.5218 - val_accuracy: 0.7326 - val_loss: 0.5799
Epoch 153/200
402/402  2s 5ms/step - accuracy: 0.7469 - loss: 0.5217 - val_accuracy: 0.7329 - val_loss: 0.5810
Epoch 154/200
402/402  2s 4ms/step - accuracy: 0.7347 - loss: 0.5343 - val_accuracy: 0.7329 - val_loss: 0.5818
Epoch 155/200
402/402  1s 3ms/step - accuracy: 0.7509 - loss: 0.5163 - val_accuracy: 0.7312 - val_loss: 0.5830
Epoch 156/200
402/402  1s 3ms/step - accuracy: 0.7437 - loss: 0.5257 - val_accuracy: 0.7330 - val_loss: 0.5812
Epoch 157/200
402/402  1s 3ms/step - accuracy: 0.7356 - loss: 0.5320 - val_accuracy: 0.7334 - val_loss: 0.5823
Epoch 158/200
402/402  1s 3ms/step - accuracy: 0.7391 - loss: 0.5277 - val_accuracy: 0.7326 - val_loss: 0.5827
Epoch 159/200
402/402  1s 3ms/step - accuracy: 0.7475 - loss: 0.5243 - val_accuracy: 0.7325 - val_loss: 0.5826
Epoch 160/200
402/402  3s 3ms/step - accuracy: 0.7377 - loss: 0.5296 - val_accuracy: 0.7326 - val_loss: 0.5818
Epoch 161/200
402/402  3s 4ms/step - accuracy: 0.7439 - loss: 0.5267 - val_accuracy: 0.7317 - val_loss: 0.5824
Epoch 162/200
402/402  1s 3ms/step - accuracy: 0.7437 - loss: 0.5260 - val_accuracy: 0.7318 - val_loss: 0.5817
Epoch 163/200
402/402  2s 3ms/step - accuracy: 0.7412 - loss: 0.5280 - val_accuracy: 0.7321 - val_loss: 0.5829
Epoch 164/200
402/402  1s 3ms/step - accuracy: 0.7400 - loss: 0.5299 - val_accuracy: 0.7328 - val_loss: 0.5820
Epoch 165/200
402/402  1s 3ms/step - accuracy: 0.7444 - loss: 0.5233 - val_accuracy: 0.7336 - val_loss: 0.5828
Epoch 166/200
402/402  1s 3ms/step - accuracy: 0.7418 - loss: 0.5271 - val_accuracy: 0.7333 - val_loss: 0.5824
Epoch 167/200
402/402  1s 3ms/step - accuracy: 0.7420 - loss: 0.5236 - val_accuracy: 0.7339 - val_loss: 0.5828
Epoch 168/200
402/402  1s 3ms/step - accuracy: 0.7466 - loss: 0.5259 - val_accuracy: 0.7318 - val_loss: 0.5832
Epoch 169/200
402/402  2s 3ms/step - accuracy: 0.7372 - loss: 0.5295 - val_accuracy: 0.7330 - val_loss: 0.5836
Epoch 170/200
402/402  1s 3ms/step - accuracy: 0.7403 - loss: 0.5297 - val_accuracy: 0.7332 - val_loss: 0.5835
Epoch 171/200
402/402  1s 3ms/step - accuracy: 0.7412 - loss: 0.5283 - val_accuracy: 0.7321 - val_loss: 0.5842
Epoch 172/200
402/402  1s 2ms/step - accuracy: 0.7410 - loss: 0.5274 - val_accuracy: 0.7326 - val_loss: 0.5835
Epoch 173/200
402/402  1s 3ms/step - accuracy: 0.7495 - loss: 0.5194 - val_accuracy: 0.7325 - val_loss: 0.5833
Epoch 174/200
402/402  1s 3ms/step - accuracy: 0.7477 - loss: 0.5207 - val_accuracy: 0.7331 - val_loss: 0.5834
Epoch 175/200
402/402  1s 3ms/step - accuracy: 0.7435 - loss: 0.5218 - val_accuracy: 0.7311 - val_loss: 0.5832
Epoch 176/200
402/402  1s 3ms/step - accuracy: 0.7411 - loss: 0.5295 - val_accuracy: 0.7334 - val_loss: 0.5824
Epoch 177/200
402/402  1s 3ms/step - accuracy: 0.7427 - loss: 0.5258 - val_accuracy: 0.7320 - val_loss: 0.5826
Epoch 178/200
402/402  3s 3ms/step - accuracy: 0.7454 - loss: 0.5252 - val_accuracy: 0.7332 - val_loss: 0.5834
Epoch 179/200
402/402  2s 3ms/step - accuracy: 0.7419 - loss: 0.5280 - val_accuracy: 0.7308 - val_loss: 0.5831
Epoch 180/200
402/402  1s 3ms/step - accuracy: 0.7406 - loss: 0.5293 - val_accuracy: 0.7290 - val_loss: 0.5830
Epoch 181/200
402/402  1s 3ms/step - accuracy: 0.7431 - loss: 0.5249 - val_accuracy: 0.7321 - val_loss: 0.5812
Epoch 182/200

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7257 - loss: 0.5908
Loss: 0.5907796621322632, Accuracy: 0.7257142663002014

In [70]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [71]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Create a random forest classifier.
rfc = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rfc = rfc.fit(X_train_scaled, y_train)

# Evaluate the model
y_predicted = rfc.predict(X_test_scaled)
print(f'Random Forest accuracy: {accuracy_score(y_test, y_predicted) * 100:.2f}')

Random Forest accuracy: 71.45